header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header img{
    width: 100px;
    height: 100px;
}
header ul
{
    display: flex;
    list-style: none;
    gap: 20px;
}

body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

h1{
    color: rgb(217, 6, 6);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
}

.valentine-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    position: relative;
}

.valentine-box button
{
    width: 100px;
    border:none;
    border-radius:3px ;
}

.heart {
    font-size: 50px;
    position: absolute;
    animation: floatUp 3s linear infinite;
}

@keyframes floatUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-200px); opacity: 0;}
}

.hidden{
    display: none;
}

#yesBtn
{
    background-color: pink;
    padding: 10px;
}

#noBtn
{
    position: absolute;
    margin-left: 10px;
    padding: 10px;
    background-color: whitesmoke;

}
